<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Delete</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
		<style>
			* {
				margin-left: 10px;
				margin-right: 10px;
			}
		</style>
	</head>
	<body>
		<h1>Delete page</h1>
		<br /><br />
		<h3>Enter the EmpID of the tuple to be deleted</h3>
		<br />
		<form method="post" action="#">
			<div class="mb-3">
				<label class="form-label">EmpID</label>
				<input type="text" name="empid" class="form-control" />
				<br />
				<button type="submit" class="btn btn-danger">Delete</button>
			</div>
		</form>

		<footer class="footer">
			<a href="/">Home</a> &emsp; <a href="/create">Create</a> &emsp;
			<a href="/read">Read</a> &emsp; <a href="/update">Update</a> &emsp;
			<a href="/delete">Delete</a>
		</footer>
	</body>
</html>
