<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DynamoDB CRUD Operations</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<h1>Welcome To DynamoDB CRUD Operation Web App!</h1>
		<br /><br />
		<h2>
			<ul>
				<li><a href="/create">Create</a></li>
				<br />
				<li><a href="/read">Read</a></li>
				<br />
				<li><a href="/update">Update</a></li>
				<br />
				<li><a href="/delete">Delete</a></li>
			</ul>
		</h2>
	</body>
</html>
